In [13]:
# creating a function

def disciplines():
    print("English")
    print("History")
    print("Business")
    print("Biology")

In [14]:
disciplines()

English
History
Business
Biology

In [112]:
#Parameters and arguments
#Print (print output) vs. return (save output to function)

food = ["bread", "milk", "eggs"]

def groceries(x):
    #print(x)
    return(x)

In [114]:
print(groceries(food))

['bread', 'milk', 'eggs']

In [17]:
#Function with numbers

def squares(x):
    print(x*x)
    return

In [9]:
numbers_2 = [15, 17, 19, 20]

for num in numbers_2:
    squares(num)

225
289
361
400

In [10]:
def square_list(y):
    for x in y:
        print(x*x)

In [11]:
square_list(numbers)

1
4
9
16
25

In [12]:
square_list(numbers_2)

225
289
361
400

In [39]:
#using multiple parameters

def introduction(name, department):
    return("My name is " + name + " and I work in the " + department + " department")

In [40]:
introduction(name="Claudia", department="English")

'My name is Claudia and I work in the English department'

In [93]:
#Functions with file data

import pandas as pd

df = pd.read_csv("gdp_europe.csv", index_col=0)

In [94]:
df.head()

,gdpPercap_1952,gdpPercap_1957,gdpPercap_1962,gdpPercap_1967,gdpPercap_1972,gdpPercap_1977,gdpPercap_1982,gdpPercap_1987,gdpPercap_1992,gdpPercap_1997,gdpPercap_2002,gdpPercap_2007
country,,,,,,,,,,,,
Albania,1601.056136,1942.284244,2312.888958,2760.196931,3313.422188,3533.003910,3630.880722,3738.932735,2497.437901,3193.054604,4604.211737,5937.029526
Austria,6137.076492,8842.598030,10750.721110,12834.602400,16661.625600,19749.422300,21597.083620,23687.826070,27042.018680,29095.920660,32417.607690,36126.492700
Belgium,8343.105127,9714.960623,10991.206760,13149.041190,16672.143560,19117.974480,20979.845890,22525.563080,25575.570690,27561.196630,30485.883750,33692.605080
Bosnia and Herzegovina,973.533195,1353.989176,1709.683679,2172.352423,2860.169750,3528.481305,4126.613157,4314.114757,2546.781445,4766.355904,6018.975239,7446.298803
Bulgaria,2444.286648,3008.670727,4254.337839,5577.002800,6597.494398,7612.240438,8224.191647,8239.854824,6302.623438,5970.388760,7696.777725,10680.792820

In [95]:
#Basic function with a dataframe

def column_min(column):
    return(df[column].min())

In [96]:
print(column_min("gdpPercap_1952"))

973.5331948

In [99]:
#More complex function with a dataframe

def yearly_average(data):
    x = data.index.values
    for y in x:
        return(data.loc[x].mean())

In [100]:
print(yearly_average(df))

gdpPercap_1952     5661.057435
gdpPercap_1957     6963.012816
gdpPercap_1962     8365.486814
gdpPercap_1967    10143.823757
gdpPercap_1972    12479.575246
gdpPercap_1977    14283.979110
gdpPercap_1982    15617.896551
gdpPercap_1987    17214.310727
gdpPercap_1992    17061.568084
gdpPercap_1997    19076.781802
gdpPercap_2002    21711.732422
gdpPercap_2007    25054.481636
dtype: float64

In [77]:
df_africa = pd.read_csv("gdp_africa.csv", index_col=0)

In [78]:
print(yearly_average(df_africa))

gdpPercap_1952    1252.572466
gdpPercap_1957    1385.236062
gdpPercap_1962    1598.078825
gdpPercap_1967    2050.363801
gdpPercap_1972    2339.615674
gdpPercap_1977    2585.938508
gdpPercap_1982    2481.592960
gdpPercap_1987    2282.668991
gdpPercap_1992    2281.810333
gdpPercap_1997    2378.759555
gdpPercap_2002    2599.385159
gdpPercap_2007    3089.032605
dtype: float64

In [108]:
def min_gdp(data):
    df = pd.read_csv(data, index_col=0)
    countries = df.index.values
    for country in countries:
        print(country, df.loc[country].min())
    return

In [109]:
(min_gdp("gdp_europe.csv"))

Albania 1601.056136
Austria 6137.076492
Belgium 8343.105127
Bosnia and Herzegovina 973.5331948
Bulgaria 2444.286648
Croatia 3119.23652
Czech Republic 6876.14025
Denmark 9692.385245
Finland 6424.519071
France 7029.809327
Germany 7144.114393
Greece 3530.690067
Hungary 5263.673816
Iceland 7267.688428
Ireland 5210.280328
Italy 4931.404155
Montenegro 2647.585601
Netherlands 8941.571858
Norway 10095.42172
Poland 4029.329699
Portugal 3068.319867
Romania 3144.613186
Serbia 3581.459448
Slovak Republic 5074.659104
Slovenia 4215.041741
Spain 3834.034742
Sweden 8527.844662
Switzerland 14734.23275
Turkey 1969.10098
United Kingdom 9979.508487